body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    width: auto;
    background: linear-gradient(-45deg, #32CD32 50%, #EEEEEE 50%);
    background-repeat: repeat;
}

.table {
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 0;
    width: 10%;
    height: 220px;
}

.table:tr {
    width: 2%;
    height: 50px;
}

.card {
    background-color: #FFF;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 50px;
    z-index: 0;
    width: 220%;
    height: auto;
    margin-left: -330px;
}


@media screen and (max-width: 700px) {

    .body {
        color: #000;
        overflow-x: hidden;
        height: auto;
        width: auto;
        background: linear-gradient(-45deg, #32CD32 50%, #EEEEEE 50%);
        background-repeat: no-repeat;
    }

    .table {
        background-color: #FFF;
        border-radius: 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 00px;
        z-index: 0;
        width: auto;
        height: auto;
        margin-left: -50px;
    }

    .card {
        background-color: #FFF;
        border-radius: 25px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        padding: 50px;
        z-index: 0;
        width: auto;
        height: auto;
        margin-left: 0px;
    }
}